<html>
    <head>
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <link rel="stylesheet" href="/static/css/commands.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Modulus - Commands</title>
        <link rel="icon" type="image/x-icon" href="/static/images/icon.jpeg">
        <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
    </head>
    <address>{{address}}</address>
    <body>
        
        <div class="title" style="position:absolute;top:140px;left:50px;">
            Command and Module list
        </div>


        <div class="modules" id="modules">
            <div class="modules-section title">Modules</div>
        </div>
        <div class="body" id="commands"></div>


        <div class="topper" style="height:200px;"><div class="topper-fade"></div></div>
        <div class="navBar">
            <a href="/">
                <img style="left:calc(15% - 70px)" class="vertical-center navBar-image" src="/static/images/icon.jpeg" draggable="false" onmousedown="" >
                <span style="left:15%" class="vertical-center navBar-title noselect">Modulus</span>
            </a>

            <div class="navBar-item vertical-center noselect" style="left:calc(15% + 250px)" id="navBar-menu-button"><span style="padding:10px">Menu</span><span><i class="fas fa-bars"></i></span></div>
            <div class="navBar-menu noselect" style="left:calc(15% + 250px)" id="navBar-menu">
                <a class="navBar-menu-item" href="/commands"><span class="all-center">Commands</span></a>
                <a class="navBar-menu-item" style="top:50px" href="/status"><span class="all-center">Status</span></a>
            </div>

            <a class="navBar-item vertical-center noselect" style="left:calc(15% + 250px)" href="/commands"><span style="padding:10px">Commands</span></a>
            <a class="navBar-item vertical-center noselect" style="left:calc(15% + 450px)" href="/status"><span style="padding:10px">Status</span></a>

            <a class="navBar-item vertical-center noselect" style="right:10%;opacity:0;transition:opacity .1s" id="profile">
                <span><img style="left:calc(15% - 70px);" class="vertical-center navBar-image" draggable="false" onmousedown="" id="profile-avatar"></span>
                <span id="profile-name" style="margin-left:15px">Name#1234</span>
                <span><i class="fas fa-caret-down" style="transition:transform .2s" id="profile-dropdown"></i></span>
            </a>
            <div class="navBar-menu noselect" style="right:10%;" id="profile-menu">
                <a class="navBar-menu-item" href="/dashboard"><span class="all-center">Servers</span></a>
                <a class="navBar-menu-item" style="top:50px"><span class="all-center">Settings</span></a>
                <a class="navBar-menu-item" style="top:150px;color:red" href="/logout"><span class="all-center">Log Out</span></a>
            </div>
        </div>
    </body>

    <script src="/static/js/global.js"></script>
    <script src="/static/js/commands.js"></script>
</html>