<html>
    <head>
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <address>
        {{address}}
    </address>
    <body>
        <div class="navBar">
            <div>
                <img style="width:50px;border-radius:25px;left:calc(15% - 70px)" class="vertical-center navBar-image" src="/static/images/avatar.png" draggable="false" onmousedown="return false" >
                <span style="left:15%" class="vertical-center navBar-title noselect">Modulus</span>
            </div>
            <div class="button-primary" style="position:absolute;top:500px;"><span class="all-center noselect">Invite me</span></div>
        </div>

        <div class="topper"><div class="topper-fade"></div></div>

        <div class="page-header" id="page-header" style="opacity:0">
            
            <div class="page-header-title">Create your own bot!</div>
            <div class="page-header-description">Modulus is a module based Discord bot which is one of the must customizable out there!
                <br><br>
                Have a look at what I can do:
            </div>
        </div>
    </body>

    <script src="/static/js/global.js"></script>
    <script src="/static/js/index.js"></script>
</html>