
.modules {
    width:15%;
    left:15%;
    top:250px;
    position:absolute;
    background-color:var(--background-highlight);
    border:1px solid black;
    border-radius:15px 0 0 15px;
    height: calc(100% - 270px)
}

.body {
    width:calc(60%);
    left:calc(30%);
    top:250px;
    position:absolute;
    background-color:var(--background-highlight);
    border:1px solid black;
    border-radius:0 15px 15px 0;
    height: calc(100% - 270px)
}