
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");

:root {
    --bold-color:#FFFFFF;
    --general-color:#a0a0a0;
    --background-color:#272934;
    --background-highlight:#101216;

    --primary:#5865F2;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.all-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

body {
    background-color:var(--background-color);
    color:var(--bold-color);
    font-family:Poppins;
    margin:0;
    height:5000px;
}

.topper {
    background-size:40px 40px;
    background-image: linear-gradient(to right, var(--background-highlight) 1px, transparent 1px), linear-gradient(to bottom, var(--background-highlight) 1px, transparent 1px);
    height:400px;
    position:absolute;
    width:100%;
    z-index:-1;
}
.topper-fade {
    width:100%;
    height:100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--background-color) 95%);
    position:absolute;
}

address {
    display:none;
}

.navBar {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
    width:100%;
    height:100px;
    position:absolute
}
.navbar-title {
    font-size:35px;
    text-transform:uppercase;
    font-weight:700;
    text-shadow:0 0 10px black;
}
.navbar-image {
    font-size:35px;
    text-transform:uppercase;
    font-weight:700;
    box-shadow:0 0 10px black;
}


.page-header {
    position:absolute;
    width:calc(400px + 20%);
    left: 10%;
    top:300px;
    transition: opacity 1s, transform 1s;
    transform: translateY(100px);
    text-shadow:0 0 5px black, 0 0 15px black, 0 0 30px rgb(0, 0, 0, 0.8);
}

.page-header-title {
    font-size:60px;
    font-weight:800;
}

.page-header-description {
    font-size:20px;
    font-weight:300;
    color:var(--general-color);
}

.button-primary {
    background-color:var(--primary);
    width:175px;
    height:50px;
    color:white;
    border:0;
    border-radius:10px;
    font-size:15px;
    box-shadow:0 0 10px black;
    cursor:pointer;
    transition:border-radius .1s
}

.button-primary:hover {
    border-radius:5px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
