
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800,900");

:root {
    --bold-color:#FFFFFF;
    --general-color:#a0a0a0;
    --background-color:#272934;
    --background-highlight:#101216;

    --primary:#5865F2;
    --success:#43B581;
    --danger:#F04747;
    --font-size:15px
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.all-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.loader {
    border: 5px solid var(--background-color); /* Light grey */
    border-top: 5px solid var(--primary); /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background-color:var(--background-color);
    color:var(--bold-color);
    font-family:Poppins;
    margin:0;
}

.topper {
    background-size:40px 40px;
    background-image: linear-gradient(to right, var(--background-highlight) 1px, transparent 1px), linear-gradient(to bottom, var(--background-highlight) 1px, transparent 1px);
    height:400px;
    position:absolute;
    width:100%;
    z-index:-1;
}
.topper-fade {
    width:100%;
    height:100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--background-color) 95%);
    position:absolute;
}

address {
    display:none;
}

.navBar {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
    width:100%;
    height:100px;
    position:absolute
}

.title {
    font-size:35px;
    text-transform:uppercase;
    font-weight:800;
    text-shadow:0 0 10px black;
    text-decoration:none;
    color:white;
    font-family:Nunito
}

.subtitle {
    font-size:30px;
    font-weight:600;
    text-shadow:0 0 10px black;
    text-decoration:none;
    color:var(--bold-color);
}

.description {
    font-size:var(--font-size);
    text-shadow:0 0 10px black;
    text-decoration:none;
    color:var(--general-color);
}


.navbar-title {
    font-size:35px;
    text-transform:uppercase;
    font-weight:900;
    text-shadow:0 0 10px black;
    cursor:pointer;
    text-decoration:none;
    color:white;
    font-family:Nunito
}
.navbar-item {
    font-size:20px;
    color:var(--general-color);
    font-weight:400;
    text-shadow:0 0 10px black;
    cursor: pointer;
    text-decoration:none
}
.navbar-item:hover {
    color:var(--bold-color);
    text-decoration: underline;
}

.navBar-menu {
    background-color:var(--background-highlight);
    border-radius:5px;
    height:0;
    width:200px;
    position:absolute;
    top:100px;
    overflow-y:hidden;
    transition: height .1s;
    box-shadow:0 0 10px rgb(0, 0, 0, 0.6);
    border:1px solid black;
    opacity:0;
    z-index:15;
}
.navBar-menu-item {
    height:50px;
    width:100%;
    position:absolute;
    border-radius:5px;
    cursor:pointer;
    text-decoration: none;
    color:white;
}
.navBar-menu-item:hover {
    background-color:rgb(255, 255, 255, 0.2)
}

.navbar-image {
    font-size:35px;
    text-transform:uppercase;
    font-weight:700;
    box-shadow:0 0 10px black;
    width:50px;
    border-radius:25px;
    background-color:var(--background-color);
}

.button-primary, .button-danger, .button-success {
    background-color:var(--primary);
    width:175px;
    height:50px;
    color:white;
    border:0;
    border-radius:10px;
    font-size:15px;
    box-shadow:0 0 10px black;
    text-shadow:none;
    cursor:pointer;
    transition:border-radius .05s, filter .05s, opacity 1s, transform 1s, box-shadow .05s;
    text-decoration:none;
}

.button-danger {
    background-color:var(--danger)
}

.button-success {
    background-color:var(--success)
}

.button-primary:hover {
    border-radius:5px;
    box-shadow:0 0 20px black;
}

.button-disabled {
    background-color:grey;
    width:175px;
    height:50px;
    color:white;
    border:0;
    border-radius:10px;
    font-size:15px;
    box-shadow:0 0 10px black;
    text-shadow:none;
    text-decoration:none;
    cursor:default;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.notification {
    width:350px;
    border-radius:15px;
    position:absolute;
    bottom:15px;
    right:-400px;
    backdrop-filter:blur(10px);
    background-color:rgb(0, 0, 0, 0.5);
    padding:15px;
    transition:right .3s
}
.notification-close {
    position:absolute;
    top:15px;
    right:15px;
    color:var(--general-color);
    font-size:25px;
    cursor: pointer;
}
.notification-close:hover {
    color:var(--bold-color)
}

.input {
    background-color:var(--background-highlight);
    border:1px solid black;
    border-radius:10px;
    padding:15px;
    color:white;
    font-size:calc(var(--font-size) + 5px)
}

.progress {
    height:25px;
    width:300px;
    border-radius:5px;
}

.progress-bar {
    background-color:var(--primary);
    height:100%;
    width:0;
    border-radius:5px;
}

.switch-container {
    border-radius:3px;
    width:220px;
    height:50px;
    position: absolute;
    border: 2px solid black
}

.switch-container-item {
    position:absolute;
    
    background-color:var(--background-color);
    height:50px;
    
    font-size:15px
}

.disabled {
    color:var(--general-color)
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 199, 199); 
}
